
# For a detailed description of the limine.cfg format, see CONFIG.md in the Limine repo:
# https://github.com/limine-bootloader/limine/blob/trunk/CONFIG.md

TIMEOUT=0
VERBOSE=yes
GRAPHICS=no

: k4dos

PROTOCOL=limine
KASLR=no
# Tell Limine where to look for the kernel.
# The runner (.cargo/runner.sh) will use the name of the package from Cargo.toml,
# so change this path if you change that.
KERNEL_PATH=boot:///k4dos